@{
    Layout = null;
    Response.StatusCode = 403;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forbidden</title>
</head>
<body>
    <h2>
        The are forbidden to access the current page.
    </h2>
</body>
</html>