@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TimeoutError</title>
</head>
<body>
    <h2>
        Sorry, your request process is timeout, please wait for a while to check the process result.
    </h2>
</body>
</html>