@{
    Layout = null;
    Response.StatusCode = 401;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page UnAuthorized</title>
</head>
<body>
    <h2>
        The page you request is unauthorized to access.
    </h2>
</body>
</html>