@{
    Layout = null;
    Response.StatusCode = 404;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page Not Found</title>
</head>
<body>
    <h2>
        The page you request is not found.
    </h2>
</body>
</html>